body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", serif;
}

* {
  box-sizing: border-box;
}

.home-container {
  padding: 10px;
  width: 100%;
  background: #ffd4d0;
  position: relative;
}

.circle {
  position: absolute;
  top: -60px;
  left: 50%;
  width: 100px;
  height: 100px;
  background: #fc3314;
  border-radius: 50%;
  z-index: 0;
}

.main-header {
  position: relative;
  z-index: 1;
  text-align: center; /* Center the content in the header */
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav a {
  text-decoration: none;
  color: #1f1f1f;
  font-size: 18px;
  font-weight: 700;
}

.main-nav a:hover {
  color: #fc3314;
}
.rectangular-button {
  width: 100%; /* Take full width on smaller screens */
  margin-bottom: 10px; /* Add space between buttons */

  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border: none;
}

.border-button {
  width: 100%; /* Take full width on smaller screens */
  margin-bottom: 10px; /* Add space between buttons */

  background: #fff;
  border: 1px Solid #000;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.rectangular-button:hover {
  background: #565353;
}

.border-button:hover {
  background: #cecbcb;
}

.container {
  flex-direction: column;
}
.left-main-body .subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  word-wrap: break-word;
}

.left-main-body .highlight {
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  word-wrap: break-word;
}

.left-main-body .name {
  color: #fc3314;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  word-wrap: break-word;
}
.description {
  color: #1f1f1f;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.left-main-body,
.right-main-body {
  width: 100%;
}

.left-main-body,
.right-main-body img {
  width: 100%; /* Make images responsive */
  height: auto;
}

/* Media query for desktop view */
@media screen and (min-width: 768px) {
  .home-container {
    height: 100vh;
  }
  .main-header {
    align-items: center;
    justify-content: space-around;
    display: flex;
  }

  .main-nav ul {
    display: flex;
  }

  .main-nav li {
    margin-right: 20px;
    margin-bottom: 0;
    display: inline-block;
  }

  .main-body-container {
    display: flex;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .left-main-body {
    flex: 1;
    padding: 20px;
  }

  .right-main-body {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
  }

  .rectangular-button,
  .border-button {
    width: 127px;
    height: 48px;
  }
}
