body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", serif;
}

* {
  box-sizing: border-box;
}
.contact-desc {
  width: 100%;
}
.contact-form {
  width: 100%;
}

.contact-us-form-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  background: #ffd4d0;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  resize: none;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transform: translateY(20px);
  opacity: 0;
  animation: slideUp 1s forwards;
}
a{
  text-decoration: none;
  color: #1f1f1f;

}
@keyframes slideUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.home-container {
  padding: 10px;
  width: 100%;
  background: #ffd4d0;
  position: relative;
}

.circle {
  position: absolute;
  top: -60px;
  left: 50%;
  width: 100px;
  height: 100px;
  background: #fc3314;
  border-radius: 50%;
  z-index: 0;
}

.main-header {
  position: relative;
  z-index: 1;
  text-align: center; /* Center the content in the header */
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav a {
  text-decoration: none;
  color: #1f1f1f;
  font-size: 18px;
  font-weight: 700;
}

.main-nav a:hover {
  color: #fc3314;
}
.rectangular-button {
  width: 100%; /* Take full width on smaller screens */
  margin-bottom: 10px; /* Add space between buttons */

  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border: none;
}

.border-button {
  width: 100%; /* Take full width on smaller screens */
  margin-bottom: 10px; /* Add space between buttons */

  background: #fff;
  border: 1px Solid #000;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.rectangular-button:hover {
  background: #565353;
}

.border-button:hover {
  background: #cecbcb;
}

.container {
  flex-direction: column;
}
.subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  word-wrap: break-word;
}
.white {
  color: #fff;
}
.centeredText {
  text-align: center;
}

.centeredContainer {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  text-align: justify;
}

.highlight {
  padding: 0;
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  word-wrap: break-word;
}

.name {
  color: #fc3314;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  word-wrap: break-word;
}
.description {
  color: #1f1f1f;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.left-main-body,
.right-main-body {
  width: 100%;
}

.left-main-body,
.right-main-body img {
  width: 100%; /* Make images responsive */
  height: auto;
}

.right-main-body img {
  filter: drop-shadow(5px 5px 10px #b94848);
}

/* ABOUT-SERVICE-WRAPPER-CONTAINER */

.about-me-container {
  background-color: #000;
  padding-bottom: 25px;
}

.number {
  color: #ffd4d0;
  font-size: 60px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.desc {
  font-size: 18px;
  font-weight: 700;
  color: white;
  padding: 0;
  margin: 0;
}
.exp-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.black {
  color: black;
}
@keyframes slideUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.numbers-represented-container {
  transform: translateY(20px);
  opacity: 0;
  animation: slideUp 1s forwards;
  text-align: center;
  margin: 10px;
}
footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.social-icons li {
  margin: 0 10px;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

/* Media query for desktop view */
@media screen and (min-width: 768px) {
  footer {
    flex-direction: row;
  }
  .contact-us-form-container {
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: start;
    background: #ffd4d0;
  }
  .main-header {
    align-items: center;
    justify-content: space-around;
    display: flex;
  }
  .contact-desc {
    width: 50%;
  }
  .contact-form {
    width: 60%;
  }

  .main-nav ul {
    display: flex;
  }

  .main-nav li {
    margin-right: 20px;
    margin-bottom: 0;
    display: inline-block;
  }

  .main-body-container {
    display: flex;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    opacity: 0;
    animation: fadeIn 1s forwards;
  }
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  .left-main-body {
    flex: 1;
    padding: 20px;
  }

  .right-main-body {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
  }

  .rectangular-button,
  .border-button {
    width: 127px;
    height: 48px;
  }
  .centeredContainer {
    width: 60%;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 25px;
  }
  .exp-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .numbers-represented-container {
    flex: 1;
  }
}
